@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
//google fonts löytyy muitakin fontteja, valitse koot, kopioi url, lisää tyylimääre .app osioon.
.app {
    font-family: 'Nunito', sans-serif;
    max-width: 38rem;
    margin: 0 auto;

    display:flex;
    flex-direction: column;
    height: 100vh;
}

.app > * {
    flex: 1 1 auto;
}

//tarkista tarvitseeko kopioida kulupidosta, kun opettaja määritteli oikean rivin 
//että se pysyy oikeassa reunassa kiinni.
//muista. omapidon kommentointi on kaikista tärkein. älä poista kaikkia kommentteja kun teet asioita,
//selitä ne asiat auki kommentoinnissa, mitä teit erilailla