@import '../../assets/styles/_config.scss';

.content {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-thumb $scrollbar-track;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    width: $scrollbar-width;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
}

/* 
Tämä on taas yksi .scss tiedosto, joka antaa tyylimääreet vain oman kansionsa sisällölle.
Nämä tyylimääreet koskevat sovelluksen rullauspalkkia. scrollbar. 
nämä määrittelee kuinka leveä se on, miten se toimii (scroll, touch) yms
:: - liittyi johonkin hassuun ominaisuuteen. Googlaamalla löytyy varmasti lisää. 
tuota "::"-merkkiä näkee vain tässä tiedostossa. 
Minusta on jännitävä huomio, ettei tyylimääreitä exportata. 
Kaikki kansionnimi.js tiedostot exportataan aina.
 */