@import '../../assets/styles/_config.scss';
.item {
    display: flex;
    border-bottom: 1px solid $item-border;
    color: $item-text;
}
.item_data {
    flex: 1;
    display: grid;
    padding: $item-padding;
}

//en tee item_amount/timespan/average siirtoa oikealle, niin kuin "kulupito"-ohjelmassa on tehty". 

.item_treeni {
    font-weight: bold;
    color:  $item-text-strong;
}

.item_edit {
    max-width: $item-edit-width;
    min-width: $item-edit-width;
    background-color: $item-edit-background;
    color: $item-edit-text;
    display: none;
    justify-content: center;
    align-items: center;
}

.item:hover .item_edit {
    display: flex;
}

/*
Tässä tiedostossa on itemien eli kirjanpidon yksittäisiä "tuotteita" koskevat tyylittelyt.
Ne koskevat mm. itemien fontin paksuutta, itemien leveyttä, väriä, paddingiä (reunus,täyte), 
sekä niiden sijoittelua sovelluksessa. Englannin kieliset nimet kertovat aika suoraan mistä on kyse.
color= väri, align-items = tuotteiden sijoitus, jne. */

//2.2. tehty huomio
//flex ei vielä vaikuta mihinkään
//diplay: ruudukko
//grid-template-columns: 1 sarake, 1 sarake
//siis rinnakkain kaks saraketta.
//ole tarkka tyylittelyissä,
//_config.scss sisältää tyylittelyitä, jotka on liitetty tänne $ kuvakkeella.
//.item_type, .item_amount tyylit koskevat osittain item_treeniä. (vrt kulupito ja omapito)
//helppo tapa muokata ohjelmaa: padding: vaikuttaa eristeeseen, joka on itemien välillä.


