@import '../../assets/styles/_config.scss';

.motivation {
    padding: $container-padding;
}

.motivation h3 {
    margin-top: 0.5rem;
}

.motivation img {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

.motivation_type {
    padding: 0.5rem;
    font-size: 1.1rem;
}

//vähän välhjempi tila diveillä
.motivation_types > div {
    padding: 0.3rem;
    border-radius: 0.2rem;
}

/*
SÄ HALUAT MÄÄRITELLÄ JOTAIN TÄLLÄSIÄ KUVALLE. NIIN SAAT SEN TOIMIMAAN...
  margin={{ top: 20, left: 20, right: 20, bottom: 10}} >
  width={"100%"} height={360}>*/