$header-background: #64a3d6;
$header-text: #ffffff;
$header-height: 4rem;
$header-fontsize: 1.80rem;

$scrollbar-track: #ffffff;
$scrollbar-thumb: #e1e1e1e1;
$scrollbar-width: 0.5rem;

$item-border: #BADDFE;
$item-text: #575555;
$item-text-strong: #000000;
$item-padding: 0.75rem;
$item-edit-background: #dddddd;
$item-edit-text: #666666;
$item-edit-width: 2rem;

$menu-background: #d3151546;
$menu-text: #ffffff;
$menu-height: $header-height;

//menun korkeus on sama kuin headerin korkeus
//menu text väri muokkaa menun ikonin väriä. 

/* 
tämä tiedosto pitää sisällään yleiset tyylimääreet, jotka koskevat koko sovellusta.
Jokaista yksittäistä sovelluksen osaa koskevat omat tyylimääreet ovat jokaisen osan 
omassa kansiossa.
Jokainen kansio noudattaa samaa logiikkaa.
Kaikki sovelluksen osat ovat components- kansion alla omissa kansioissa.
Jokaisessa kansiossa on samat tiedostot:
nimi.js (sisältää sisällön)
index.js 
kansionnimi.module.scss tai kansionnimi.css (sisältää tyylit)*/