$header-background: #0285EE;
$header-text: #ffffff;
$header-height: 4rem;
$header-fontsize: 1.75rem;

$scrollbar-track: #ffffff;
$scrollbar-thumb: #e1e1e1e1;
$scrollbar-width: 0.5rem;

$item-border: #BADDFE;
$item-text: #999999;
$item-text-strong: #000000;
$item-padding: 0.75rem;
$item-edit-background: #dddddd;
$item-edit-text: #666666;
$item-edit-width: 2rem;

$menu-background: #00000046;
$menu-text: #ffffff;
$menu-height: $header-height;

//menun korkeus on sama kuin headerin korkeus
//menu text väri muokkaa menun ikonin väriä. 